Source/ConsCallPcf/Web References/PCFServiceModel/PCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.33.13/PCF_Service_REH/PCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manulife.Core.Model.Business" />
  <xs:element name="CallAisResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ILAPIParam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallAisResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Manulife.Core.Model.Business" minOccurs="0" name="CallAisResultResult" nillable="true" type="q1:BusinessErrors" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>